
.custom-card {
    margin-right: 10px; 
    margin-left: 10px; 
    margin-bottom:10px;
    max-height: min-content;
  }
  

.icon{
    font-size: 18px;
}

.icon:hover{
    color:rgb(244, 220, 69);
}

.col-1 {
 justify-content: space-between;
}

li  a {
    color:rgb(244, 220, 69);
    font-weight: bolder;
}

li a:hover{
    color:#fff
}

.codex{
    font-size: 25px;
    font-weight: 800
}
