
.custom-card {
    margin-right: 10px; 
    margin-left: 10px; 
    margin-bottom:10px;
    max-height: min-content;
  }
  
.custom-btn{
    background-color: rgb(240, 231, 54);
    color: #000;
    border-radius: 4px 8px;   
    font-size: medium;
}

.limited-text {
           /*Empêche le texte de passer à la ligne */
    overflow: hidden;            /* Cache le texte qui dépasse */
    text-overflow: ellipsis;     /* Ajoute un point de suspension (...) pour indiquer le texte coupé */
    max-height: 150px;            /* Définissez la largeur maximale à laquelle le texte peut s'étendre */
 }

 .limited-content{
    overflow: hidden;            /* Cache le texte qui dépasse */
    text-overflow: ellipsis;     /* Ajoute un point de suspension (...) pour indiquer le texte coupé */
    max-height: 50px;  
    word-wrap: break-word;
    
 }

.actions{
   display: block;
   flex-direction: column-reverse;
}

