<div style="display:flex">
    <p class="codex">CODEX</p>
</div>

<ul class="nav justify-content-start" style="background-color:#000;height:60px">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Reviews</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Gaming</a>
    </li>

    <li class="nav-item d-sm-none">
        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </a>
    </li>
</ul>

<!-- <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Podcasts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Deals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tomorrow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Guidance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Entertainment</a>
        </li>
    </ul>
</div> -->


<div class="container">

    <div class="row">
        <div class="col-md-2" style="margin-top: 30px">
            <h3 *ngIf="this.favoris.length !== 0">Favorites</h3>
            <ul *ngFor="let article of favoris; let i = index">
                <li class="article">
                  <mat-icon style="color: rgb(244, 220, 69); margin-top: 8px">star</mat-icon>
                  <a [href]="AllArticles[i].url" target="_blank">{{ article.title }}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-8 layout">
            <mat-form-field appearance="fill" style="margin-right:10px; width:30%">
                <mat-label>Sort By</mat-label>
                <mat-select [(value)]="sortOrder" (selectionChange)="updateSorting()">
                    <mat-option value="ascending">Ascending</mat-option>
                    <mat-option value="descending">Descending</mat-option>
                </mat-select>
            </mat-form-field>

            

            <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 25px">
                <mat-label>Type here for search ..</mat-label>
                <input matInput type="text" [formControl]="myControl" (input)="onSearchChange()">
                <mat-icon matSuffix class="search-icon">search</mat-icon>
            </mat-form-field>
            <div class="row">
                <!-- <h1 style="text-align:center">Codex Articles</h1> -->


                <div class="scrollbar">
                    <div class="card mb-3 scrollbar1 " *ngFor="let article of filteredArticles;  let i = index">
                        <img src={{article.urlToImage}} class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.content }}</p>
                            <p class="card-text"><small class="text-body-secondary">Authred by {{ article.author}}
                                    &ensp; [Published at {{ article.publishedAt | date: 'MM/dd/yyyy' }} ]</small></p>
                            <div class="row justify-content-end">
                                <div class="row justify-content-end">
                                    <div class="col-11">
                                        <a class="btn btn-warning" href={{article.url}}>Read more</a>
                                    </div>
                                    <div class="col-1" style="margin-top:20px" style="display:flex;flex-direction:row">
                                        <mat-icon style="margin-right:5px" (click)="toggleBookmark(i)">
                                            {{ isBookmarked ? 'turned_in'  : 'bookmark_border' }}
                                        </mat-icon>
                                          
                                        <mat-icon>share</mat-icon>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="filteredArticles.length === 0">
                        No articles found.
                    </div>
                </div>
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page">
                </mat-paginator>

            </div>


            <div class="col-md-2">
            </div>

        </div>
    </div>